*{
    padding: 0;
    margin: 0;
}
body,html{
    height: 100%;
    font: 20px/40px"microsoft yahei";
    color: black;
}
.layout_main{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.layout_header{
    height: 12.5%;
    width: 100%;
}

.layout_center{
    width:100%;
    height: 100%;
}

.layout_foot{
    height: 12.5%;
    width: 100%;
    background-color: cadetblue;
}

.input_group_div{
    width: 600px;
    height: auto;
    display: block;
}

.product_list_div{
    width: 100%;
    height: 600px;
}